*{
    margin: 0;
}

#container{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:30px
}

#container #add-participant-container{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    width:30%
}

#container #participant-list{
    margin-top: 10vh;
}

#container #participant #column{
    display: flex;
    flex-direction: column;
}

#container #participant #row{
    display: flex;
    flex-direction: row;
}

#container #participant{
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

button{
    width:100%
}