<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <script src="{{url_for('static', filename='index.js')}}" defer></script>
</head>
<body>
    <div id="container">
        <div id="add-participant-container">
            <input type="text" class="new-participant" id="new-participant" placeholder="Name...">
            <button id="create-participant">Submit</button>
            <button id="refresh">Refresh</button>
        </div>

        <div id="participant-list">
            {% for i in data["participants_names"] %}
            <div id="column">
                <div id="row">
                    <div id="participant">
                    <!-- <div id="mugshot">
                        <img src="static\stock.jpg" alt="mug shot">
                    </div> -->
                    <div id="name">
                        {{data["participants_data"][i]["name"]}}
                        {{data["participants_data"][i]["status"]}}
                    </div>
                    <button id="change-status" value="{{data['participants_data'][i]['status']}}">Hit</button>
                </div>
                
                </div>
            </div>
            
        {% endfor %}
        </div>
        

        {{data["participants"]}}
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script>
    var socket = io();
    let statusChange = document.querySelector("#change-status")
    statusChange.addEventListener("click",function(){
        statusChange.value = "Out"
    })

    let createParticipant = document.querySelector("#create-participant")
    let newParticipant = document.querySelector("#new-participant")
    createParticipant.addEventListener("click",function(){
        // (name,found,image_link)
        socket.emit("new-participant",{name:newParticipant.value})
    })

    let refreshButton = document.querySelector("#refresh")
    refreshButton.addEventListener("click",function(){
        socket.emit("refresh",{message:"requesting participants..."})
    })

    socket.on("after-refresh",function(data){
        console.log(data)
    })
</script>
</html> 