<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <script src="{{url_for('static', filename='index.js')}}" defer></script>
</head>
<body>
    <div id="container">
        <div id="add-participant-container">
            <input type="text" class="new-participant" id="new-participant" placeholder="Name...">
            <button id="create-participant">Submit</button>
            <button id="refresh">Refresh</button>
        </div>

        <div id="participant-list">
            <div id="row">

                <div id="participant">
                    <div id="mugshot">
                        <!-- <div id="mugshot">
                            <img src="static\stock.jpg" alt="mug shot">
                        </div> -->
                    </div>

                    <div id="name">

                    </div>

                </div>
                
            </div>
                
            
        </div>
        
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script>
    var socket = io();
    // let statusChange = document.querySelector("#change-status")
    // statusChange.addEventListener("click",function(){
    //     statusChange.value = "Out"
    // })

    let createParticipant = document.querySelector("#create-participant")
    let newParticipant = document.querySelector("#new-participant")
    createParticipant.addEventListener("click",function(){
        // (name,found,image_link)
        socket.emit("new-participant",{name:newParticipant.value})
    })

    let refreshButton = document.querySelector("#refresh")
    refreshButton.addEventListener("click",function(){
        socket.emit("refresh",{message:"requesting participants..."})
    })

    socket.on("after-refresh",function(data){
        console.log(data)
        let participantList = document.querySelector("#participant-list")
        participantList.textContent = ""
        console.log(data["updated_list"])
        for (let i = 0; i<data["updated_list"].length;i++){
            console.log(data["updated_list"][i])
            name = data["updated_list"][i]["name"]
            status = data["updated_list"][i]["status"]
            image = data["updated_list"][i]["image_link"]
            let row = document.createElement("div")
            row.id = row
            let participant = document.createElement("div")
            participant.id = "participant"
            let mugshotDiv = document.createElement("div")
            mugshotDiv.id = "mugshot"
            let mugshotPic = document.createElement("img")
            mugshotPic.src = image

            let participantName = document.createElement("div")
            participantName.id = "name"
            participantName.innerText = name

            let participantStatus = document.createElement("div")
            participantStatus.id = "status"
            participantStatus.innerText = `found: ${status}`

            let changeStatusButton = document.createElement("button")
            changeStatusButton.id = "change-status"
            changeStatusButton.innerText = "Change"
            
            
            participant.appendChild(participantName)
            participant.appendChild(participantStatus)
            mugshotDiv.appendChild(mugshotPic)
            participant.appendChild(mugshotDiv)
            participant.appendChild(changeStatusButton)
            row.appendChild(participant)
            participantList.appendChild(row)
        }
    })
</script>
</html> 